.gallery {
  width: 100%;
  height: 470px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 7.8rem 2rem;
}

.gallery-box-image {
  height: 42%;
  border: 1px solid #ffffff;
}

.gallery-image {
  width: 100%;
  height: 100%;
}
