.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 7.6rem;
  margin-bottom: 9.7rem;
}

.header-menu-nav {
  width: 28%;
}

.header-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu-item a {
  font-size: var(--text);
  font-weight: 400;
  color: var(--text-color);
}

.header-menu-conect {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  width: 230px;
  background-color: var(--text-color);
  cursor: pointer;
}

.conect-text {
  font-weight: 700 bold;
  font-size: 1.6rem;
}
